{{> head}}
{{> navbar }}

    <div class="col-8">
        <h1>Avengers</h1>
    </div>

    <div class="col-4">
        <img src="./assets/img/avengers.png" class="img-thumbnail" alt="">
    </div>

{{> footer}}
